* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FF69B4;
}

#app-name, #intro-line {
    text-align: center;
}

.game-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 300px;
    margin-left: 300px;
}

.grid-container {
    /*margin-top: 30px;*/
    margin: 20px auto auto auto;
    width: 450px;
    height: 450px;
    display: grid;
    border: 1px solid black;
    border-radius: 3px;
}